ase==3.22.0
e3nn==0.3.3
notebook==6.4.0
packaging==20.9
pymatgen==2022.0.10
torch==1.9.0
torch-cluster==1.5.9
torch-geometric==1.7.2
torch-scatter==2.0.7
torch-sparse==0.6.10
torch-spline-conv==1.2.1
torchaudio==0.9.0
torchvision==0.10.0
