ase==3.22.0
notebook==6.4.5
pip==21.3.1
pymatgen==2022.0.16
torch==1.10.0
torchaudio==0.10.0
torchvision==0.11.1
e3nn==0.4.1
torch-cluster==1.5.9
torch-scatter==2.0.9
torch-sparse==0.6.12
torch-spline-conv==1.2.1
torch-geometric==2.0.2
